html, body {
	height: 100%;
	margin: 0;
}

/*main colors blue - #4e74bf, yellow - #f2c53d, white - #f2e8d5, brown - #d99e32, red - #bf3939 */

.main {
	display: flex;
	width: 100%;
	min-width: 560px;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	font-family: Arial, sans-serif;
}

.auth_container {
	width: 400px;
	padding: 30px;
	border-radius: 20px;
	background-color: #bf3939;
	color: #fff;
	text-align: center;
}

.auth_container h2 {
	font-weight: bold;
	font-size: 50px;
	margin: 0 0 20px 0;
}

.control {
	font: Tahoma, sans-serif;
	font-weight: bold;
	font-size: 20px;
	outline: none;
}

.form-control {
	width: 95%;
	border-radius: 10px;
	height: 50px;
	margin: 15px 0;
	border: 2px solid #b22a2a;
	color: #0d0d0d;
	padding: 0 0 0 20px;
}

.submit_btn {
	height: 50px;
	margin: 15px 0;
	padding: 0 30px;
	background: #f2c53d;
	border: 2px solid #e8b930;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
}

.submit_btn:hover {
	background: #e8b930;
	border: 2px solid #f2c53d;
}

.error {
	padding: 10px 0;
	color: #4e74bf;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.hint {
	padding: 15px 0;
	color: #aaa;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}